<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
		<string>ssh</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Die App benötigt Zugriff auf das lokale Netzwerk, um nach Geräten zu suchen.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ssh._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_printer._tcp</string>
		<string>_ipp._tcp</string>
		<string>_scanner._tcp</string>
		<string>_homekit._tcp</string>
	</array>
	<key>NSNetworkingUsageDescription</key>
	<string>Die App benötigt Netzwerkzugriff, um nach Geräten zu suchen.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
